rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Default Deny
    match /{document=**} {
      allow read, write: if false;
    }

    // Helper functions
    function isSignedIn() {
      return request.auth != null;
    }
    
    function incoming() {
      return request.resource.data;
    }

    // Games collection
    match /games/{gameId} {
      allow read, write: if isSignedIn();
      
      // Participants subcollection
      match /participants/{participantId} {
        allow read, write: if isSignedIn();
      }
    }
  }
}
